@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

.gothic-font {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3rem;
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
